.about-section {
    background-color: white;
    width: 75%;
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
}

@media screen and (min-width: 1282px) {
    .about-section {
        width: 50%;
    }
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    list-style: inside;
}

.skills-list li {
    box-sizing: border-box;
    width: auto;
    margin: 0 2rem;
}

li {
    line-height: 2;
    position: relative;
}
  
li::marker {
color: #242d57;
}

.skills-icon {
    height:2rem;
}

.detail {
    padding: 1rem 3rem 0;
}

.padded {
    padding: 1rem 0;
}