.project-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  text-align: center;
  background-color: white;
  color: black;
  flex: 1 0 200px;
  margin: 0.5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible; /* Ensures icon overflow is visible */
}

.content-wrapper {
  position: relative;
  border-radius: 15px; /* Match the project-card border-radius */
  overflow: hidden; /* Hide overflow for image and text */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.image-section {
  display: flex;
  flex: 1;
  color: black;
  position: relative;
}

.image-section img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
}

.body-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  /* Default styles without specific background or positioning */
}

.with-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for non-touch devices */
@media (hover: hover) {
  .project-card:hover .with-image {
  transition: background-color 0.3s ease;
}
}

@media (hover: hover) {
    .project-card:hover .with-image {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
}

/* Always show the overlay for touch devices */
@media (hover: none) {
  .with-image {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}

.icon-overlay {
  position: absolute;
  top: -2rem;
  right: -2rem;
  max-width: 8rem;
  max-height: 8rem;
  z-index: 10;
}

.title-section {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.with-image p {
  visibility: hidden;
  opacity: 0;
}

.with-image .button {
  /* Change to hidden and 0 opacity to hide button until hover */
  visibility: hidden;;
  opacity: 0;
}

.button,
.with-image p {
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

/* Hover effect for non-touch devices */
@media (hover: hover) {
  .project-card:hover .with-image .button,
  .project-card:hover .with-image p {
    visibility: visible;
    opacity: 1;
  }
}

/* Always show the button and text for touch devices */
@media (hover: none) {
  .with-image .button,
  .with-image p {
    visibility: visible;
    opacity: 1;
  }
}
