#events-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media screen and (min-width: 650px) {
    #events-section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

#events {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.headercontainer {
    text-align: center;
}

.headercontainer h1 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#calendar {
    width: 100%;
    min-height: 400px;
}