#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 5rem 2rem 2rem 3rem;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}

#footer p.small {
    text-align: center;
}

div.center-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img.social-icon {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

img.social-icon:hover {
    transform: scale(1.1);
}