---
import './Header.css';

const currentPath = Astro.url.pathname;
---

<div id="header">
  <a href="/#home">Home</a>
  <a href="/#about">About</a>
  <a href="/#projects">Projects</a>
  <a href="/#writing">Writing</a>
  <a href="/#events-section">Events</a>
  <a href="/blog" class:list={[{ active: currentPath.startsWith('/blog') }]}>Blog</a>
</div>
