#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.projects-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75%;
  margin: 2rem auto;
  gap: 2rem;
}

.category-container {
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 0 200px;
  margin: 0.5rem;
  position: relative;
  overflow: visible;
}

.category-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}