section.dark {
  display: flex;
  align-items: center;
}

.writing-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75%;
  margin: 2rem auto;
  gap: 2rem;
}

.cards-wrapper {
  /* Add any specific styles here to control the height or other properties of the card wrapper */
}
